<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ffa.dao.FixRecordInfMapper">
  <resultMap id="BaseResultMap" type="com.ffa.po.FixRecordInf">
    <id column="serial_number" jdbcType="INTEGER" property="serialNumber" />
    <result column="facility_id" jdbcType="INTEGER" property="facilityId" />
    <result column="facility_name" jdbcType="VARCHAR" property="facilityName" />
    <result column="unit_id" jdbcType="INTEGER" property="unitId" />
    <result column="unit_name" jdbcType="VARCHAR" property="unitName" />
    <result column="fix_time" jdbcType="VARCHAR" property="fixTime" />
    <result column="fix_state" jdbcType="INTEGER" property="fixState" />
  </resultMap>
  <sql id="Base_Column_List">
    serial_number, facility_id, facility_name, unit_id, unit_name, fix_time, fix_state
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from fix_record_inf
    where serial_number = #{serialNumber,jdbcType=INTEGER}
  </select>
    <select id="getAllFixRecordInf" parameterType="com.ffa.po.FixRecordInf" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List"/>
      from fix_record_inf
      <where>
        <if test="unitName != null">
          unit_name like '%${unitName}%'
        </if>
        <if test="unitId != null" >
          and unit_id = #{unitId,jdbcType=INTEGER}
        </if>
        <if test="facilityName != null">
          and facility_name like '%${facilityName}%'
        </if>
        <if test="facilityId != null" >
          and facility_id = #{facilityId,jdbcType=INTEGER}
        </if>
      </where>
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from fix_record_inf
    where serial_number = #{serialNumber,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ffa.po.FixRecordInf">
    insert into fix_record_inf (serial_number, facility_id, facility_name,
      unit_id, unit_name, fix_time,
      fix_state)
    values (#{serialNumber,jdbcType=INTEGER}, #{facilityId,jdbcType=INTEGER}, #{facilityName,jdbcType=VARCHAR},
      #{unitId,jdbcType=INTEGER}, #{unitName,jdbcType=VARCHAR}, #{fixTime,jdbcType=VARCHAR},
      #{fixState,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.ffa.po.FixRecordInf">
    insert into fix_record_inf
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="serialNumber != null">
        serial_number,
      </if>
      <if test="facilityId != null">
        facility_id,
      </if>
      <if test="facilityName != null">
        facility_name,
      </if>
      <if test="unitId != null">
        unit_id,
      </if>
      <if test="unitName != null">
        unit_name,
      </if>
      <if test="fixTime != null">
        fix_time,
      </if>
      <if test="fixState != null">
        fix_state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="serialNumber != null">
        #{serialNumber,jdbcType=INTEGER},
      </if>
      <if test="facilityId != null">
        #{facilityId,jdbcType=INTEGER},
      </if>
      <if test="facilityName != null">
        #{facilityName,jdbcType=VARCHAR},
      </if>
      <if test="unitId != null">
        #{unitId,jdbcType=INTEGER},
      </if>
      <if test="unitName != null">
        #{unitName,jdbcType=VARCHAR},
      </if>
      <if test="fixTime != null">
        #{fixTime,jdbcType=VARCHAR},
      </if>
      <if test="fixState != null">
        #{fixState,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ffa.po.FixRecordInf">
    update fix_record_inf
    <set>
      <if test="facilityId != null">
        facility_id = #{facilityId,jdbcType=INTEGER},
      </if>
      <if test="facilityName != null">
        facility_name = #{facilityName,jdbcType=VARCHAR},
      </if>
      <if test="unitId != null">
        unit_id = #{unitId,jdbcType=INTEGER},
      </if>
      <if test="unitName != null">
        unit_name = #{unitName,jdbcType=VARCHAR},
      </if>
      <if test="fixTime != null">
        fix_time = #{fixTime,jdbcType=VARCHAR},
      </if>
      <if test="fixState != null">
        fix_state = #{fixState,jdbcType=INTEGER},
      </if>
    </set>
    where serial_number = #{serialNumber,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ffa.po.FixRecordInf">
    update fix_record_inf
    set facility_id = #{facilityId,jdbcType=INTEGER},
      facility_name = #{facilityName,jdbcType=VARCHAR},
      unit_id = #{unitId,jdbcType=INTEGER},
      unit_name = #{unitName,jdbcType=VARCHAR},
      fix_time = #{fixTime,jdbcType=VARCHAR},
      fix_state = #{fixState,jdbcType=INTEGER}
    where serial_number = #{serialNumber,jdbcType=INTEGER}
  </update>
</mapper>
