<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ffa.dao.KeyPartInfMapper">
  <resultMap id="BaseResultMap" type="com.ffa.po.KeyPartInf">
    <id column="key_part_id" jdbcType="INTEGER" property="keyPartId" />
    <result column="unit_id" jdbcType="INTEGER" property="unitId" />
    <result column="unit_name" jdbcType="VARCHAR" property="unitName" />
    <result column="key_part_name" jdbcType="VARCHAR" property="keyPartName" />
    <result column="key_part_pic_id" jdbcType="VARCHAR" property="keyPartPicId" />
  </resultMap>
  <sql id="Base_Column_List">
    key_part_id, unit_id, unit_name, key_part_name, key_part_pic_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from key_part_inf
    where key_part_id = #{keyPartId,jdbcType=INTEGER}
  </select>

  <select id="getAllKeyPartInf" parameterType="com.ffa.po.KeyPartInf" resultMap="BaseResultMap">
    select * from key_part_inf
    <where>
      <if test="keyPartId != null" >
        key_part_id = #{keyPartId,jdbcType=INTEGER}
      </if>
      <if test="keyPartName != null" >
        and key_part_name like '%${keyPartName}%'
      </if>
      <if test="unitId != null" >
        and unit_id = #{unitId,jdbcType=INTEGER}
      </if>
      <if test="unitName != null" >
        and unit_name like '%${unitName}%'
      </if>
    </where>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from key_part_inf
    where key_part_id = #{keyPartId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ffa.po.KeyPartInf">
    insert into key_part_inf (key_part_id, unit_id, unit_name,
      key_part_name, key_part_pic_id)
    values (#{keyPartId,jdbcType=INTEGER}, #{unitId,jdbcType=INTEGER}, #{unitName,jdbcType=VARCHAR},
      #{keyPartName,jdbcType=VARCHAR}, #{keyPartPicId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ffa.po.KeyPartInf">
    insert into key_part_inf
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="keyPartId != null">
        key_part_id,
      </if>
      <if test="unitId != null">
        unit_id,
      </if>
      <if test="unitName != null">
        unit_name,
      </if>
      <if test="keyPartName != null">
        key_part_name,
      </if>
      <if test="keyPartPicId != null">
        key_part_pic_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="keyPartId != null">
        #{keyPartId,jdbcType=INTEGER},
      </if>
      <if test="unitId != null">
        #{unitId,jdbcType=INTEGER},
      </if>
      <if test="unitName != null">
        #{unitName,jdbcType=VARCHAR},
      </if>
      <if test="keyPartName != null">
        #{keyPartName,jdbcType=VARCHAR},
      </if>
      <if test="keyPartPicId != null">
        #{keyPartPicId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ffa.po.KeyPartInf">
    update key_part_inf
    <set>
      <if test="unitId != null">
        unit_id = #{unitId,jdbcType=INTEGER},
      </if>
      <if test="unitName != null">
        unit_name = #{unitName,jdbcType=VARCHAR},
      </if>
      <if test="keyPartName != null">
        key_part_name = #{keyPartName,jdbcType=VARCHAR},
      </if>
      <if test="keyPartPicId != null">
        key_part_pic_id = #{keyPartPicId,jdbcType=VARCHAR},
      </if>
    </set>
    where key_part_id = #{keyPartId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ffa.po.KeyPartInf">
    update key_part_inf
    set unit_id = #{unitId,jdbcType=INTEGER},
      unit_name = #{unitName,jdbcType=VARCHAR},
      key_part_name = #{keyPartName,jdbcType=VARCHAR},
      key_part_pic_id = #{keyPartPicId,jdbcType=VARCHAR}
    where key_part_id = #{keyPartId,jdbcType=INTEGER}
  </update>
</mapper>
