<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ffa.dao.KeyUnitMapper">
  <resultMap id="BaseResultMap" type="com.ffa.po.KeyUnit">
    <id column="unit_id" jdbcType="INTEGER" property="unitId" />
    <result column="unit_name" jdbcType="VARCHAR" property="unitName" />
    <result column="principal_id" jdbcType="INTEGER" property="principalId" />
    <result column="principal_name" jdbcType="VARCHAR" property="principalName" />
    <result column="unit_address" jdbcType="VARCHAR" property="unitAddress" />
    <result column="unit_tel" jdbcType="VARCHAR" property="unitTel" />
    <result column="supervision_id" jdbcType="INTEGER" property="supervisionId" />
    <result column="overall_picture_id" jdbcType="INTEGER" property="overallPictureId" />
    <result column="facilitiy_num" jdbcType="INTEGER" property="facilitiyNum" />
  </resultMap>
  <sql id="Base_Column_List">
    unit_id, unit_name, principal_id, principal_name, unit_address, unit_tel, supervision_id,
    overall_picture_id, facilitiy_num
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from key_unit
    where unit_id = #{unitId,jdbcType=INTEGER}
  </select>

  <select id="getAllKeyUnit" parameterType="com.ffa.po.KeyUnit" resultMap="BaseResultMap">
    select * from key_unit
    <where>
      <if test="unitId != null" >
        unit_id = #{unitId,jdbcType=INTEGER}
      </if>
      <if test="unitName != null" >
        and unit_name like '%${unitName}%'
      </if>
      <if test="principalName != null" >
        and principal_name like '%${principalName}%'
      </if>
    </where>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from key_unit
    where unit_id = #{unitId,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.ffa.po.KeyUnit">
    insert into key_unit (unit_id, unit_name, principal_id,
      principal_name, unit_address, unit_tel,
      supervision_id, overall_picture_id, facilitiy_num
      )
    values (#{unitId,jdbcType=INTEGER}, #{unitName,jdbcType=VARCHAR}, #{principalId,jdbcType=INTEGER},
      #{principalName,jdbcType=VARCHAR}, #{unitAddress,jdbcType=VARCHAR}, #{unitTel,jdbcType=VARCHAR},
      #{supervisionId,jdbcType=INTEGER}, #{overallPictureId,jdbcType=INTEGER}, #{facilitiyNum,jdbcType=INTEGER}
      )
  </insert>

  <insert id="insertSelective" parameterType="com.ffa.po.KeyUnit">
    insert into key_unit
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="unitId != null">
        unit_id,
      </if>
      <if test="unitName != null">
        unit_name,
      </if>
      <if test="principalId != null">
        principal_id,
      </if>
      <if test="principalName != null">
        principal_name,
      </if>
      <if test="unitAddress != null">
        unit_address,
      </if>
      <if test="unitTel != null">
        unit_tel,
      </if>
      <if test="supervisionId != null">
        supervision_id,
      </if>
      <if test="overallPictureId != null">
        overall_picture_id,
      </if>
      <if test="facilitiyNum != null">
        facilitiy_num,
      </if>
    </trim>

    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="unitId != null">
        #{unitId,jdbcType=INTEGER},
      </if>
      <if test="unitName != null">
        #{unitName,jdbcType=VARCHAR},
      </if>
      <if test="principalId != null">
        #{principalId,jdbcType=INTEGER},
      </if>
      <if test="principalName != null">
        #{principalName,jdbcType=VARCHAR},
      </if>
      <if test="unitAddress != null">
        #{unitAddress,jdbcType=VARCHAR},
      </if>
      <if test="unitTel != null">
        #{unitTel,jdbcType=VARCHAR},
      </if>
      <if test="supervisionId != null">
        #{supervisionId,jdbcType=INTEGER},
      </if>
      <if test="overallPictureId != null">
        #{overallPictureId,jdbcType=INTEGER},
      </if>
      <if test="facilitiyNum != null">
        #{facilitiyNum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.ffa.po.KeyUnit">
    update key_unit
    <set>
      <if test="unitName != null">
        unit_name = #{unitName,jdbcType=VARCHAR},
      </if>
      <if test="principalId != null">
        principal_id = #{principalId,jdbcType=INTEGER},
      </if>
      <if test="principalName != null">
        principal_name = #{principalName,jdbcType=VARCHAR},
      </if>
      <if test="unitAddress != null">
        unit_address = #{unitAddress,jdbcType=VARCHAR},
      </if>
      <if test="unitTel != null">
        unit_tel = #{unitTel,jdbcType=VARCHAR},
      </if>
      <if test="supervisionId != null">
        supervision_id = #{supervisionId,jdbcType=INTEGER},
      </if>
      <if test="overallPictureId != null">
        overall_picture_id = #{overallPictureId,jdbcType=INTEGER},
      </if>
      <if test="facilitiyNum != null">
        facilitiy_num = #{facilitiyNum,jdbcType=INTEGER},
      </if>
    </set>
    where unit_id = #{unitId,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.ffa.po.KeyUnit">
    update key_unit
    set unit_name = #{unitName,jdbcType=VARCHAR},
      principal_id = #{principalId,jdbcType=INTEGER},
      principal_name = #{principalName,jdbcType=VARCHAR},
      unit_address = #{unitAddress,jdbcType=VARCHAR},
      unit_tel = #{unitTel,jdbcType=VARCHAR},
      supervision_id = #{supervisionId,jdbcType=INTEGER},
      overall_picture_id = #{overallPictureId,jdbcType=INTEGER},
      facilitiy_num = #{facilitiyNum,jdbcType=INTEGER}
    where unit_id = #{unitId,jdbcType=INTEGER}
  </update>
</mapper>
