<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ffa.dao.KeyUnitMapper">
  <resultMap id="BaseResultMap" type="com.ffa.po.KeyUnit">
    <id column="unitID" jdbcType="INTEGER" property="unitid" />
    <result column="unitName" jdbcType="VARCHAR" property="unitname" />
    <result column="principalID" jdbcType="INTEGER" property="principalid" />
    <result column="principalName" jdbcType="VARCHAR" property="principalname" />
    <result column="unit_address" jdbcType="VARCHAR" property="unitAddress" />
    <result column="unit_tel" jdbcType="VARCHAR" property="unitTel" />
    <result column="Supervision_id" jdbcType="INTEGER" property="supervisionId" />
    <result column="overall_picture_id" jdbcType="INTEGER" property="overallPictureId" />
    <result column="facilitiy_id" jdbcType="INTEGER" property="facilitiyId" />
  </resultMap>
  <sql id="Base_Column_List">
    unitID, unitName, principalID, principalName, unit_address, unit_tel, Supervision_id, 
    overall_picture_id, facilitiy_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from key_unit
    where unitID = #{unitid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from key_unit
    where unitID = #{unitid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ffa.po.KeyUnit">
    insert into key_unit (unitID, unitName, principalID, 
      principalName, unit_address, unit_tel, 
      Supervision_id, overall_picture_id, facilitiy_id
      )
    values (#{unitid,jdbcType=INTEGER}, #{unitname,jdbcType=VARCHAR}, #{principalid,jdbcType=INTEGER}, 
      #{principalname,jdbcType=VARCHAR}, #{unitAddress,jdbcType=VARCHAR}, #{unitTel,jdbcType=VARCHAR}, 
      #{supervisionId,jdbcType=INTEGER}, #{overallPictureId,jdbcType=INTEGER}, #{facilitiyId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ffa.po.KeyUnit">
    insert into key_unit
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="unitid != null">
        unitID,
      </if>
      <if test="unitname != null">
        unitName,
      </if>
      <if test="principalid != null">
        principalID,
      </if>
      <if test="principalname != null">
        principalName,
      </if>
      <if test="unitAddress != null">
        unit_address,
      </if>
      <if test="unitTel != null">
        unit_tel,
      </if>
      <if test="supervisionId != null">
        Supervision_id,
      </if>
      <if test="overallPictureId != null">
        overall_picture_id,
      </if>
      <if test="facilitiyId != null">
        facilitiy_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="unitid != null">
        #{unitid,jdbcType=INTEGER},
      </if>
      <if test="unitname != null">
        #{unitname,jdbcType=VARCHAR},
      </if>
      <if test="principalid != null">
        #{principalid,jdbcType=INTEGER},
      </if>
      <if test="principalname != null">
        #{principalname,jdbcType=VARCHAR},
      </if>
      <if test="unitAddress != null">
        #{unitAddress,jdbcType=VARCHAR},
      </if>
      <if test="unitTel != null">
        #{unitTel,jdbcType=VARCHAR},
      </if>
      <if test="supervisionId != null">
        #{supervisionId,jdbcType=INTEGER},
      </if>
      <if test="overallPictureId != null">
        #{overallPictureId,jdbcType=INTEGER},
      </if>
      <if test="facilitiyId != null">
        #{facilitiyId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ffa.po.KeyUnit">
    update key_unit
    <set>
      <if test="unitname != null">
        unitName = #{unitname,jdbcType=VARCHAR},
      </if>
      <if test="principalid != null">
        principalID = #{principalid,jdbcType=INTEGER},
      </if>
      <if test="principalname != null">
        principalName = #{principalname,jdbcType=VARCHAR},
      </if>
      <if test="unitAddress != null">
        unit_address = #{unitAddress,jdbcType=VARCHAR},
      </if>
      <if test="unitTel != null">
        unit_tel = #{unitTel,jdbcType=VARCHAR},
      </if>
      <if test="supervisionId != null">
        Supervision_id = #{supervisionId,jdbcType=INTEGER},
      </if>
      <if test="overallPictureId != null">
        overall_picture_id = #{overallPictureId,jdbcType=INTEGER},
      </if>
      <if test="facilitiyId != null">
        facilitiy_id = #{facilitiyId,jdbcType=INTEGER},
      </if>
    </set>
    where unitID = #{unitid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ffa.po.KeyUnit">
    update key_unit
    set unitName = #{unitname,jdbcType=VARCHAR},
      principalID = #{principalid,jdbcType=INTEGER},
      principalName = #{principalname,jdbcType=VARCHAR},
      unit_address = #{unitAddress,jdbcType=VARCHAR},
      unit_tel = #{unitTel,jdbcType=VARCHAR},
      Supervision_id = #{supervisionId,jdbcType=INTEGER},
      overall_picture_id = #{overallPictureId,jdbcType=INTEGER},
      facilitiy_id = #{facilitiyId,jdbcType=INTEGER}
    where unitID = #{unitid,jdbcType=INTEGER}
  </update>
</mapper>