<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ffa.dao.SuperVisionInfMapper">
  <resultMap id="BaseResultMap" type="com.ffa.po.SuperVisionInf">
    <id column="supervision_id" jdbcType="INTEGER" property="supervisionId" />
    <result column="supervision_name" jdbcType="VARCHAR" property="supervisionName" />
  </resultMap>
  <sql id="Base_Column_List">
    supervision_id, supervision_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from supervision_inf
    where supervision_id = #{supervisionId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from supervision_inf
    where supervision_id = #{supervisionId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ffa.po.SuperVisionInf">
    insert into supervision_inf (supervision_id, supervision_name)
    values (#{supervisionId,jdbcType=INTEGER}, #{supervisionName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ffa.po.SuperVisionInf">
    insert into supervision_inf
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="supervisionId != null">
        supervision_id,
      </if>
      <if test="supervisionName != null">
        supervision_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="supervisionId != null">
        #{supervisionId,jdbcType=INTEGER},
      </if>
      <if test="supervisionName != null">
        #{supervisionName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ffa.po.SuperVisionInf">
    update supervision_inf
    <set>
      <if test="supervisionName != null">
        supervision_name = #{supervisionName,jdbcType=VARCHAR},
      </if>
    </set>
    where supervision_id = #{supervisionId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ffa.po.SuperVisionInf">
    update supervision_inf
    set supervision_name = #{supervisionName,jdbcType=VARCHAR}
    where supervision_id = #{supervisionId,jdbcType=INTEGER}
  </update>
</mapper>